<% if Author.all.empty? %>
    <p>There's no writers yet, go ahead and add one!</p><br /><br />
<% end %>
<div class="container mx-4 mb-5">
    <%= link_to  "Add new Writer", new_author_path, class: "btn btn-success h-25" %>
</div>
<% @authors.each do |c| %>
    <ul class="index-list">
        <li class="index-item">
            <%= link_to c.first_name + ' ' + c.last_name, author_path(c), class: "list-group-item bg-dark h-25 w-25" %>
            <p class="m-0 lead py-2"><%= c.books.count %> books</p>
            <%= link_to  "Add new Book", new_book_path, class: "btn btn-primary" %>
            <%= link_to  "Delete", author_path(c), method: :delete, data: { confirm: 'This will delete all books related to this author. Are you sure?' }, class: "btn btn-danger" %>
        </li>
    </ul>
<% end %>