<!DOCTYPE html>
<html>
  <head>
    <title>Bookstore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <nav class="nav nav-masthead justify-content-center">
            <li class="nav-link <%= params[:controller] == 'books' ? 'active' : '' %>"><%= link_to  "Home", root_path %></li>
            <li class="nav-link <%= params[:controller] == 'authors' ? 'active' : '' %>"><%= link_to "Our Writers", authors_path %></li>
            <li class="nav-link <%= params[:controller] == 'publishers' ? 'active' : '' %>"><%= link_to "Our Publishers", publishers_path %></li>
            <li class="nav-link <%= params[:controller] == 'categories' ? 'active' : '' %>"><%= link_to "Our Categories", categories_path %></li>
            <li class="nav-link <%= params[:controller] == 'about' ? 'active' : '' %>"><%= link_to  "About Us", about_index_path %></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add new</a>
              <ul class="dropdown-menu bg-dark p-3" aria-labelledby="navbarDropdown" role="menu">
                <li><%= link_to  "Book", new_book_path, class: "nav-link" %></li>
                <li><%= link_to  "Category", new_category_path, class: "nav-link" %></li>
                <li><%= link_to  "Author", new_author_path, class: "nav-link" %></li>
                <li><%= link_to  "Publisher", new_publisher_path, class: "nav-link" %></li>
              </ul>
            </li>
          </nav>
        </div>
      </header>
    </div>
    <div class="container">
      <h1>The Bookstore <small><%= @page_title ? @page_title : 'Welcome' %></small></h1>
    </div>
    <section class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <% if flash[:notice] %>
              <div class="alert alert-success"><%= flash[:notice] %></div>  
            <% end %>
            <% if flash[:alert] %>
              <div class="alert alert-danger"><%= flash[:alert] %></div>
            <% end %>
            <%= yield %>
          </div>
          <div class="col-md-4">
            <%= render './partials/sidebar' %>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>Copyright &copy; 2020.bksh-js. All rights reserved</p>
      </div>
    </footer>
  </body>
</html>
